<!-- header -->
<header id="home">

  <!-- navbar -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">

      <!-- navbar brand or logo -->
      <a href="#" class="navbar-brand">
        <h2><img src="../assets/images/logo.png"></h2>
      </a>
      <!-- end navbar brand or logo -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo"
        aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarTogglerDemo" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#resume" class="nav-link">Experience</a>
          </li>
          <li class="nav-item">
            <a href="#portfolio" class="nav-link">Work</a>
          </li>
          <li class="nav-item">
            <a href="#training" class="nav-link">Training</a>
          </li>
          <li class="nav-item">
            <a href="#education" class="nav-link">Education</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="../assets/docs/Curriculum Vitae.zip" class="nav-link" download>CV</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end navbar ../../assets/images/intro-image.jpg-->

  <!-- home intro -->
  <div class="home-intro segments">
    <div class="container">
      <div class="intro-content box-content">
        <div class="row justify-content-center">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="intro-caption">
              <h6>Hi, my name is</h6><br>
              <span>Sreemonta Bhowmik</span>
              <h2>I build software for people</h2><br>
              <!-- <p>I'm a software engineer based in københavn, Denmark specializing in architecting, designing, and
                building software and web applications, and everything in between.</p> -->
              <p>I'm a software engineer, specializing in architecting, designing, and
                building software and web applications, and everything in between.</p>
              <a type="button" href="mailto:sreemonta.bhowmik@gmail.com" class="btn btn-outline-primary">Get In
                Touch</a>
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="intro-image">
              <img src="../assets/images/intro-image.png" alt="">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- end home intro -->

</header>
<!-- end header -->
<router-outlet></router-outlet>
<!-- <app-portfolio [data]="message"></app-portfolio> -->
<!-- <app-portfolio [data]='message'></app-portfolio> -->
<!-- footer -->
<!-- <app-portfolio></app-portfolio> -->
<div class="footer segments">
  <div class="container">
    <div class="box-content">
      <p><a href="https://sreemonta.netlify.app/" target="_blank">Designed & Built by Sreemonta Bhowmik</a></p>
    </div>
  </div>
</div>
<!-- end footer -->
